<div class="animated fadeIn">
   <div class="col-sm-9">
      <div class="card">
         <div class="card-header">
            Add a <strong>Bank</strong>
         </div>
         <div class="card-body">
            <form [formGroup]="bankForm" (submit)="create()">
               <div class="row">
                  <div class="form-group col-sm-8">
                     <label for="bank-name">Bank Name</label>
                     <input type="text" class="form-control" id="bank-name" placeholder="Name" formControlName="name">
                  </div>
                  <div class="form-group col-sm-4">
                     <label for="abbreviation">Abbreviation</label>
                     <input type="text" class="form-control" id="abbreviation" placeholder="Abbreviation" formControlName="abbre">
                  </div>
               </div><!--/.row-->
               <div class="form-group">
                  <label for="logo">Logo</label>
                  <div class="col-md-12">
                     <input type="file" id="logo" (change)="uploadPicture()" #fileInput accept="image/x-png,image/gif,image/jpeg,image/jpg">
                  </div>
               </div>
               <div class="form-actions">
                  <button type="submit" class="btn btn-success">Save changes</button>
                  <!-- <button class="btn btn-secondary" type="button">Cancel</button> -->
               </div>
            </form>
         </div>
      </div>
   </div><!--/.col-->
</div>