<div class="animated fadeIn">
   <!--/.row-->
   <div class="row">
      <div class="col-lg-12">
         <div class="card">
            <div class="card-header">
            <i class="fa fa-edit"></i>Search Form
            <div class="card-header-actions">
               <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
            </div>
            </div>
            <div [collapse]="isCollapsed" class="card-body">
               <form class="form-horizontal">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                           <label class="col-form-label" for="name">Full Name</label>
                           <input debounce [delay]="delay" [(ngModel)]="filterParam.name" (func)="fetchSmsList()" [ngModelOptions]="{standalone: true}" placeholder="Full Name" id="name" class="form-control" size="16" type="text">
                        </div>
                     </div>

                     <div class="col-sm-4">
                        <div class="form-group">
                           <label class="col-form-label" for="registrationCode">Registration Code</label>
                           <input debounce [delay]="delay" [(ngModel)]="filterParam.registrationCode" (func)="fetchSmsList()" [ngModelOptions]="{standalone: true}" placeholder="LEADER_" id="registrationCode" class="form-control reg-code" size="16" type="text">
                        </div>
                     </div>

                     <div class="col-sm-4">
                        <div class="form-group">
                           <label class="col-form-label" for="number">Mobile Number</label>
                           <input debounce [delay]="delay" [(ngModel)]="filterParam.number" (func)="fetchSmsList()" [ngModelOptions]="{standalone: true}" placeholder="98********" id="number" class="form-control" size="16" type="text">
                        </div>
                     </div>

                     <div class="col-sm-4">
                        <div class="form-group">
                           <label class="col-form-label" for="status">Status</label>
                           <select debounce [delay]="delay" [(ngModel)]="filterParam.status" (change)="fetchSmsList()" [ngModelOptions]="{standalone: true}" id="status" class="form-control">
                              <option value="0">All</option>
                              <option value="success">Success</option>
                              <option value="failure">Failure</option>
                              <option value="queue">Queue</option>
                            </select>
                        </div>
                     </div>

                     <div class="col-sm-4">
                        <div class="form-group">
                           <label class="col-form-label" for="network">Sent From</label>
                           <select debounce [delay]="delay" [(ngModel)]="filterParam.network" (change)="fetchSmsList()" [ngModelOptions]="{standalone: true}" id="network" class="form-control">
                              <option value="0">All</option>
                              <option value="SparrowSms">SparrowSms</option>
                              <option value="Nexmo">Nexmo</option>
                            </select>
                        </div>
                     </div>

                     <div class="col-sm-4">
                        <div class="form-group">
                           <label class="col-form-label" for="countryCode">Country Code</label>
                           <input debounce [delay]="delay" [(ngModel)]="filterParam.countryCode" (func)="fetchSmsList()" [ngModelOptions]="{standalone: true}" placeholder="977" id="countryCode" class="form-control" size="16" type="text">
                        </div>
                     </div>

                     <div class="col-sm-4">
                        <div class="form-group">
                           <label class="col-form-label" for="responseCode">Response Code</label>
                           <input debounce [delay]="delay" [(ngModel)]="filterParam.responseCode" (func)="fetchSmsList()" [ngModelOptions]="{standalone: true}" placeholder="1012" id="responseCode" class="form-control" size="16" type="text">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-actions">
                           <button class="btn btn-secondary" (click)="resetFilterParam()" type="button">Reset</button>
                           <button class="btn btn-danger active" [disabled]="loading" (click)="resendSms()" type="button">Resend SMS</button>
                        </div>
                     </div>
                     
                  </div>
               </form>
            </div>
         </div>
      </div> <!--/.col-->
   </div><!--/.row-->
   <div class="row">
      <div class="col-lg-12">
         <div class="card">
            <div class="card-header">
               <i class="fa fa-align-justify"></i> SMS Log
            </div>
            <app-loading *ngIf="!sms || loading"></app-loading>
            <div *ngIf="sms ?.length > 0; then tableData; else noRecordsFound"></div>
            <ng-template #tableData>
               <div class="card-body">
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th style="width: 10px">#</th>
                           <th>Full Name</th>
                           <th>Mobile</th>
                           <th>Registration Code</th>
                           <th>Sent From</th>
                           <th>Requested</th>
                           <th>Status</th>
                           <th width="22%">Message</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let s of sms; let index = index">
                           <td>{{ index + 1 + ((paginate.current_page - 1) * paginate.per_page) }}</td>
                           <td>{{ s.name }}</td>
                           <td>{{ '(' + s.country_code + ') ' + s.request.to }}</td>
                           <td>{{ s.registration_code || '-' }}</td>
                           <td>{{ s.type }}</td>
                           <td>{{ (s.registration_code_send_count + 1) + ' times' }}</td>
                           <td>{{ (s.sms_queue == false) ? (s.status == true) ? 'Success' : 'Failure' : 'Queue' }}</td>
                           <td>{{ (s.sms_queue == false) ? '(' + s.response_code + ') -> ' + s.message : s.message }}</td>
                        </tr>
                     </tbody>
                     <tfoot *ngIf="paginate.total > paginate.per_page">
                        <tr>
                           <td colspan="7">
                              <pagination
                                 [boundaryLinks]="true"
                                 [rotate]="true"
                                 [directionLinks]="true"
                                 [totalItems]="paginate.total"
                                 [(ngModel)]="paginate.current_page"
                                 [itemsPerPage]="paginate.per_page"
                                 [maxSize]="5"
                                 previousText="&lsaquo;&lsaquo;"
                                 nextText="&rsaquo;&rsaquo;"
                                 (pageChanged)="fetchSmsList($event.page)"
                                 >
                              </pagination>
                           </td>
                        </tr>
                     </tfoot>
                  </table>
               </div>
            </ng-template>
         </div>
      </div>
      <!--/.col-->
   </div>
   <!--/.row-->
<!-- No records found -->
<ng-template #noRecordsFound>
   <app-no-records-found></app-no-records-found>
</ng-template>
</div>
   